<h1 class="mt-4" style="text-align: center;">Our Plans</h1>
<hr>
<h3 class="mt-4" style="text-align: center;">Land Analysis Plans</h3>

<div class="row" style="margin: 10px">

    <div class="col-3">
        <div class="card">
            <h2 class="mt-4" style="text-align: center;">1 week</h2>
            <button class="mt-4 btn btn-primary" style="padding: 10px; width:80%;margin-left:10%;margin-right:10%;" (click)="pay(1000)"><b>₹1000.00</b></button>
            <h6 class="mt-2" style="text-align: center; color: rgb(39,39,39)">Save ₹000.00</h6>
            <ul>
                <li>Comprehensive Examination of Land</li>
                <li>Crop Recommendation</li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h2 class="mt-4" style="text-align: center;">1 Month</h2>
            <button class="mt-4 btn btn-primary" style="padding: 10px;width:80%;margin-left:10%;margin-right:10%;" (click)="pay(3000)"><b>₹3000.00</b></button>
            <h6 class="mt-2" style="text-align: center; color: rgb(102,175,83)">Save ₹1000.00 (Weekly Plan)</h6>
            <ul>
                <li>Comprehensive Examination of Land</li>
                <li>Crop Recommendation</li>
                <li>24/7 Customer Service</li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="bestSeller"><img src="https://www.flaticon.com/svg/static/icons/svg/2331/2331647.svg" style="height: 100px;"></div>
            <h2 class="mt-4" style="text-align: center;">6 Months</h2>
            <button class="mt-4 btn btn-primary" style="padding: 10px; width:80%;margin-left:10%;margin-right:10%;" (click)="pay(13000)"><b>₹13000.00</b></button>
            <h6 class="mt-2" style="text-align: center; color: rgb(102,175,83)">Save ₹5000.00 (Monthly Plan)</h6>
            <ul>
                <li>Comprehensive Examination of Land</li>
                <li>Crop Recommendation</li>
                <li>24/7 Customer Service</li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <h2 class="mt-4" style="text-align: center;">Annual</h2>
            <button class="mt-4 btn btn-primary" style="padding: 10px; width:80%;margin-left:10%;margin-right:10%;" (click)="pay(22000)"><b>₹22000.00</b></button>
            <h6 class="mt-2" style="text-align: center; color:rgb(102,175,83)">Save ₹14000.00 (Monthly Plan)</h6>
            <ul>
                <li>Comprehensive Examination of Land</li>
                <li>Crop Recommendation</li>
                <li>24/7 Customer Service</li>
            </ul>
        </div>
    </div>
</div>

<hr>
<h3 class="mt-4" style="text-align: center;">Hire a Farmer</h3>
<div class="row" style="margin: 10px">
    <div class="col-3">
    </div>
    <div class="col-3">
        <div class="card">
            <h2 class="mt-4" style="text-align: center;">6 Months</h2>
            <button class="mt-4 btn btn-primary" style="padding: 10px; width:80%;margin-left:10%;margin-right:10%;" (click)="pay(200)"><b>₹200.00</b></button>
            <h6 class="mt-2" style="text-align: center; color: rgb(39,39,39)">Save ₹000.00</h6>
            <ul>
                <li>Access to Farmers Data</li>
                <li>24/7 Customer Srvice</li>
            </ul>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="bestSeller"><img src="https://www.flaticon.com/svg/static/icons/svg/2331/2331647.svg" style="height: 100px;"></div>
            <h2 class="mt-4" style="text-align: center;">1 Year</h2>
            <button class="mt-4 btn btn-primary" style="padding: 10px; width:80%;margin-left:10%;margin-right:10%;" (click)="pay(350)"><b>₹350.00</b></button>
            <h6 class="mt-2" style="text-align: center; color:rgb(102,175,83)">Save ₹50.00</h6>
            <ul>
                <li>Access to Farmers Data</li>
                <li>24/7 Customer Srvice</li>
            </ul>
        </div>
    </div>
    <div class="col-3">
    </div>
</div>