<!-- <app-banner></app-banner> -->
<div class="row" style="margin:10px">
  <div class="row">
    <h4 style="padding: 15px">
      {{ searchResult }} Plants were found matching your request
    </h4>
    <br /><br />
  </div>
  <div class="row" >
    <ng-container *ngFor="let product of filteredProducts; let i = index">
      <div class="col-lg-2 col-md-4 col-sm-6">
        <app-product-card [product]="product"></app-product-card>
      </div>
      <!-- <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div> -->
    </ng-container>
  </div>
</div>
