<div *ngIf="product.Common_Name" class="card">
    <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl" alt="{{product.title}}" />
    <div class="card-body">
      <h6 class="card-title" style="text-align: center;"><b>{{ product.Common_Name }}</b></h6>
      <p class="card-text"><b>Type:</b> {{ product.Plant_Type}}</p>
      <p class="card-text"><b>Bloom:</b> {{ product.Bloom_Time}}</p>
      <p class="card-text"><b>Price:</b> {{ product.price | currency: "INR" }}</p>
      <div>
        <p *ngIf="family!=null">{{product.match}}% Match</p>
        <button class="btn btn-warning w-100" (click)="details()">
          <b>Get Info <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/info-256.png" style="height:20px;width: 20px;"></b>
        </button>
      </div>
      <br>
    </div>

 
  </div>