<nav class="navbar navbar-expand-md fixed-top" style="background-color:rgb(39,39,39); color: white">
    <a class="navbar-brand" routerLink="/about"><img src="../../assets/icons/logo.png" alt="farmiculture" style="height: 40px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto" style="margin-right: 100px;">
        <li class="nav-item">
          <a class="nav-link mr-2" routerLink="/about">
            <img src="../../assets/icons/About us_jpeg-01.jpg" style="height: 40px;">
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link mr-2" routerLink="/analysis">
              <img src="../../assets/icons/Land analysis1_jpeg.jpg" style="height: 40px;">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-2" routerLink="/products">
              <img src="../../assets/icons/Hire farmer_jpeg-01-01.jpg" style="height: 40px;">
            </a>
          </li>
          <li>
            <a class="nav-link mr-2" routerLink="/plans">
              <img src="../../assets/icons/Our plans_jpeg-01.jpg" style="height: 40px;">
            </a>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Welcome Ramesh
            </a>
            <div ngbDropdownMenu class="dropdown-menu mr-auto" aria-labelledby="dropdown01" style="background-color: white;">
              <a class="dropdown-item" routerLink="/my/plans"><i class="fa fas fa-shopping-bag"></i>  My Plans</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" style="color:brown" (click)="logout()"> Log Out</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>
