<div class="sticky-top">

    
    <div class=" mt-2">
        <p>Choose Budget (in &#8377;)</p>
        <div class="d-flex" [class.active]="range">
            <input [(ngModel)]="range.min" #min="ngModel" name="min" id="min" type="number" placeholder="Min" class="form-control" style="width: 100px; height: 40px" min="0">
            <input [(ngModel)]="range.max" #max="ngModel" name="max" id="max" type="number" placeholder="Max" class="form-control" style="width: 100px; height: 40px;" min="0">
            <button class="btn btn-success" style="width: 60px; height: 40px" (click)="print()" routerLink="/" [queryParams]="{minim: range.min, maxim: range.max}" style="color: white">Go</button>
        </div>
    </div>
    <div class="list-group mt-3">
        <p>Sort By</p>
        <input class="w-100" [(ngModel)]="range.min" #min="ngModel" name="min" id="min" type="text" placeholder="Min" class="form-control" style="height: 40px" min="0" placeholder="Enter Location">
    <a class="list-group-item list-group-item-action">Experience</a>
        <a class="list-group-item list-group-item-action">Age</a>
        <a class="list-group-item list-group-item-action">Gender</a><br>
        
    </div>
</div>