<div style="margin: 20px;">
    <h1 >Greetings, Mr/Mrs Ramesh</h1>
</div>
<div style="background-color: rgb(39,39,39); color: white; padding: 10px; margin:20px; height: 60px; vertical-align: middle; border: 1px solid rgb(39,39,39); border-radius: 10px;">
    <span>Hire a Farmer (Annual)</span>
    <span style="right: 5%; position: absolute; background-color: white; width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">₹350</span>
    <span style="right: 5%; position: absolute; background-color: green; width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Active</span>
</div>
<div style="background-color: rgb(39,39,39); color: white; padding: 10px; margin:20px; height: 60px; vertical-align: middle; border: 1px solid rgb(39,39,39); border-radius: 10px;">
    <span>Land Analysis (Annual)</span>
    <span style="right: 5%; position: absolute; background-color: white; color: black; width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">₹22000</span>
    <span style="right: 5%; position: absolute; background-color: green; width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Active</span>
</div>
<div style="background-color: rgb(39,39,39); color: white; padding: 10px; margin:20px; height: 60px; vertical-align: middle; border: 1px solid rgb(39,39,39); border-radius: 10px;">
    <span>Hire a Farmer (6 Months)</span>
    <span style="right: 5%; position: absolute; background-color: red; width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Expired</span>
</div>
<div style="background-color: rgb(39,39,39); color: white; padding: 10px; margin:20px; height: 60px; vertical-align: middle; border: 1px solid rgb(39,39,39); border-radius: 10px;">
    <span>Land Analysis (Monthly)</span>
    <span style="right: 5%; position: absolute; background-color: red; width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Expired</span>
</div>