<div style="margin: 20px; text-align: center;">
    <h1 >Your Plans</h1>
</div>
<div style="background-color: rgb(39,39,39); color: white; padding: 10px; margin:20px; height: 60px; vertical-align: middle; border: 1px solid rgb(39,39,39); border-radius: 10px;">
    <span>Hire a Farmer (Annual)</span>
    <span style="right: 31%; position: absolute; background-color: rgb(145, 180, 150); width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">₹350</span>
    <span style="right: 13%; position: absolute; background-color: orangered; width: 300px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Expires On: 20 December, 2020</span>
    <span style="right: 5%; position: absolute; background-color: green; width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Active</span>
</div>
<div style="background-color: rgb(39,39,39); color: white; padding: 10px; margin:20px; height: 60px; vertical-align: middle; border: 1px solid rgb(39,39,39); border-radius: 10px;">
    <span>Land Analysis (Annual)</span>
    <span style="right: 31%; position: absolute; background-color: rgb(145, 180, 150); width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">₹22000</span>
    <span style="right: 13%; position: absolute; background-color: orangered; width: 300px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Expires On: 20 December, 2020</span>
    <span style="right: 5%; position: absolute; background-color: green; width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Active</span>
</div>
<div style="background-color: rgb(39,39,39); color: white; padding: 10px; margin:20px; height: 60px; vertical-align: middle; border: 1px solid rgb(39,39,39); border-radius: 10px;">
    <span>Hire a Farmer (6 Months)</span>
    <span style="right: 31%; position: absolute; background-color: rgb(145, 180, 150); width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">₹200</span>
    <span style="right: 13%; position: absolute; background-color: orangered; width: 300px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Expired On: 20 December, 2019</span>
    <span style="right: 5%; position: absolute; background-color: red; width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Expired</span>
</div>
<div style="background-color: rgb(39,39,39); color: white; padding: 10px; margin:20px; height: 60px; vertical-align: middle; border: 1px solid rgb(39,39,39); border-radius: 10px;">
    <span>Land Analysis (6 Months)</span>
    <span style="right: 31%; position: absolute; background-color: rgb(145, 180, 150); width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">₹13000</span>
    <span style="right: 13%; position: absolute; background-color: orangered; width: 300px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Expired On: 20 December, 2019</span>
    <span style="right: 5%; position: absolute; background-color: red; width: 100px; text-align: center; padding:5px; border: 1px solid rgb(39,39,39); border-radius: 5px;">Expired</span>
</div>