<div class="imagewrap">
  <img src="../../assets/icons/bg.png">
</div>

<div class="container-fluid" >
  <div class="row jumbotron">
    <div class="row text-center">
      <div class="col-12">
        <h1 class="display-5">About Us</h1>
      </div>
      <div class="col-12">
        <p class="lead">
          At Farmiculture, we aim to help entrepreneurs make the most of their
          land using scientific analysis techniques and present them with all
          the technical help they need to manage their land. Our use of state of
          the art on-site equipment, combined with an AI model to predict ideal
          crops is all aimed at using data and technology to help consumers grow
          their yield. We also believe in giving back to society. As our
          contribution, we help farmers find employment. For every billing of
          our commercial service, we devote a part of the profit generated to
          maintain a database of farmers unemployed from the region in question
          and its surroundings. We then use this collected information to
          generate suggestions for our consumers, to help them create a
          workforce for the land they have registered with us.
        </p>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container-fluid padding">
  <div class="row padding" style="background-color: white;">
    <div class="col-lg-6">
      <br /><br /><br /><br />
      <h2>For Society</h2>
      <br />
      <p>
        Agriculture is the most important sector of the country’s economy, and
        our farmers are it’s most important entity. Farmers are the cornerstone
        of the Farmiculture Project. Keeping in mind the many precarious
        conditions they are up against, this service was created to break
        shackles and engineer solutions. In an attempt to counter the existing,
        diminishing culture of non-land owning farmers not finding work, we
        provide an efficient solution that benefits everyone involved.
      </p>
    </div>
    <div class="col-lg-6">
      <img src="../../assets/icons/a.png" />
    </div>
  </div>
</div>

<br />

<div class="container-fluid padding f">
  <div class="row welcome text-center">
    <div class="col-12">
      <br />
      <h2 class="display-5"><i>"This is the future of agriculture."</i> - Madhur Padavala </h2>
    </div>
  </div>
</div>

<br />

<div class="container-fluid padding">
  <div class="row padding">
    <div class="col-lg-6">
      <img src="../../assets/icons/b.png" />
    </div>
    <div class="col-lg-6">
      <br /><br />
      <h2>The Consumer's Persprective</h2>
      <br />
      <p>
        At Farmiculture, it is our passion to achieve the best of results. We
        truly believe in the power of technology, and it is our mission to
        empower entrepreneurs and landowners to achieve the very best. From the
        moment your land is registered with us, you can sit back and relax, as
        our engineering team first deploys the automation that comprehensively
        surveys the terrain. This data is then fed into our advanced AI model,
        which is trained to deliver precise suggestions to consumers on the most
        ideal crops. We’ve tried to make this process as smooth as possible,
        from start to finish, with this website, an all-in-one workstation that
        caters to all your needs.
      </p>
    </div>
  </div>
</div>

<br />

<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-12">
        <h5>&#169;2020 Farmiculture</h5>
      </div>
    </div>
  </div>
</footer>
