.imagewrap {
  display: inline-block;
  position: relative;
}
.button1 {
  position: absolute;
  right: 77%;
  top: 53%;
}
.button2 {
  position: absolute;
  right: 59%;
  top: 53%;
}

.imagewrap {
  display: inline-block;
  position: relative;
}

footer {
  background-color : rgb(39,39,39);
  color : blanchedalmond;
  padding-top : 2rem;
  padding-bottom : 2rem;
}
a{
  color: blanchedalmond
}

[class*="col-"] {
  padding: 1rem;
}

.vertical { 
  border-left: 2px solid gray; 
  height: 35px; 
  position:absolute; 
  margin-top:-20px;
  margin-left:-3px
} 